In [1]:
l = [1,2,3,4]

In [ ]:
for i in range(len(l)):
    if l[i] > l[i+1]:

In [2]:
l = [1,2,3,4]
if l == sorted(l):
    print('List is sorted')
else :
    print('List not sorted')

In [3]:
print(x)

[1, 2, 3, 4]

In [12]:
flag = 0
l = [1,2,3,5,6,7]

for i in range(len(l)-1):
    # if i != len(l)-1:
    if l[i] <= l[i+1]:
            # print(l[i])
        flag += 1
    
if flag == len(l)-1:
    print(flag)
    print('sorted')
else :
    print(flag)
    print('not sorted')

5
sorted

In [10]:
5 > 5

False

In [14]:
fibonacci = 0,1,1,2,3,5,8,13
ip = 10

In [16]:
n = 10
l = [0, 1]
for i in range(2, n):
    l.append(l[-1] + l[-2])
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Using Map function :

Map will work only if we want to apply logic to each and every element of the iterable

In [17]:
l = [1,2,3,4]


def add_1(i):
    x = i + 1
    return x 

list(map(add_1, l))    # Map used here

[2, 3, 4, 5]

In [21]:
# cube of odd num and square of even number :
x = [1,2,3,4,5,6,7,8,9,10]
def matt(i):
    if i % 2 == 0:
        a = i **2
        return a
    else :
        b = i ** 3
        return b
        
list(map(matt, x))

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [24]:
ex = ['data','science','eng']

def rev(x):
    return x[::-1]

list(map(rev, ex))

['atad', 'ecneics', 'gne']

In [23]:
a = 'data'
print(a[::-1])

atad

In [26]:
l = ['mr.jonas','mrs.siya','Mr.Deshpande','Mrs.Shinde']

def spl(x):
    a = x.split('.')
    if a[0].lower() == 'mr':
        return 'Male' 
    elif a[0].lower() == 'ms':
        return 'female'

list(map(spl, l))

['Male', 'female', 'female', 'Male']

In [27]:
l = [[2,3],(2),'data']

def check(x):
    return type(x)

list(map(type, l))

[list, int, str]

In [30]:
l = [[23,45],[54,34],[55,65]]



sum(list(map(max, l)))

164

In [31]:
l = ['data','science','machine','hi']

def find_len(x):
    if len(x) > 5:
        return True
    else :
        return False

list(filter(find_len, l))

['science', 'machine']

In [33]:
l = ['abhishek','mahesh','rahuk','om']

def check(x):
    if x[0].lower() == 'a':
        return True
    else :
        return False
    
list(filter(check, l))

['abhishek']

In [44]:

import numpy as np 

l = [2,4,16,9,27,64]
def perfect(x):
    n = np.sqrt(x)
    return n * n == x
list(filter(perfect, l))

[4, 16, 9, 27, 64]

In [42]:
n = 4
type(n)

int

In [45]:
l = ['red','green','white','black','pink','yellow']

r = ['red','pink','yellow']

for i in r:
    if i in l :
        l.remove(i)
print(l)

['green', 'white', 'black']

In [2]:
# Calculating the HCF of two numbers :

def hcf(num1, num2):
    div = max(num1, num2)
    ds = min(num1, num2)
    rem = div%ds
    while rem != 0:
        rem = div%ds
        div = ds
        ds = rem
    return div

print(hcf(12, 18))

6

In [3]:
# Calculating HCF using swapping without using third variable:

def HCF_R(num1, num2):
    div = max(num1, num2)
    ds = min(num1, num2)
    rem = div%ds
    while rem != 0:
        rem, div = div%ds, rem
    return div

print(HCF_R(12,18))

KeyboardInterrupt:

In [4]:
n = [45,27,45,6,7,23,56,24,32,86,44]

x = lambda n: True if i%2 == 0 else False

print(x)

<function <lambda> at 0x000002721BC7C310>

In [7]:
n = [45,27,45,6,7,23,56,24,32,86,44]

print(list(filter(lambda n: True if n%2 == 0 else False, n)))

[6, 56, 24, 32, 86, 44]

In [8]:
n = ['mahesh','aniket','yash','om']

list(filter(lambda n : True if n[0].lower() in 'aeiou' else False, n))

['aniket', 'om']

In [14]:
price = [50, 90, 135, 180]

list(map(lambda n: 0.9*n, price))

[45.0, 81.0, 121.5, 162.0]

In [12]:
ex = [50, 100, 150, 200]
list(map(lambda x:0.9*x, ex))

[45.0, 90.0, 135.0, 180.0]

In [22]:
num = [1,2,3,4,5,6,7,8,9, 15]

def prime(n):
    if n == 2:
        return True
    for i in range(2, int((n**1/2)-1)):
        if n % i == 0:
            return False
        else :
            return True
        

list(filter(prime, num))

[2, 9, 15]

In [23]:
l = [1,2,3,4,5,6,7,8,9,15]

def prime_check(n):
    if n == 2:
        return True
    for i in range(2, int(n/2)):
        if n % i == 0:
            return False
        return True       
        
list(filter(prime_check, l))

[2, 7, 9, 15]

In [24]:
[i**3 for i in range(1, 20)]

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

In [25]:
cel = [0, 10, 20, 30, 40]

l= [(i*9/5)+32 for i in cel]
print(l)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [27]:
g = [12, 34, 35, 65, 33, 42, 1]

[i for i in g if i > 10]

[12, 34, 35, 65, 33, 42]

In [31]:
files = ['document.txt', 'image.png','movies.mp4', 'songs.mp3']

[i for i in files if i.split(".")[1] != 'txt']

['image.png', 'movies.mp4', 'songs.mp3']

In [33]:
word = ['A','b','c','D','E','f']

['aeiou' if i.lower() in 'vowel' else 'consonent' for i in word]

['consonent', 'consonent', 'consonent', 'consonent', 'aeiou', 'consonent']

In [36]:
x = 'Engineer'

{i for i in x if i.lower() in 'aeiou'}

{'E', 'e', 'i'}

In [37]:
a = ['data','science','python','amabetter']

{i:len(i) for i in a}

{'data': 4, 'science': 7, 'python': 6, 'amabetter': 9}

In [38]:
a = [23, 42, 36, 78, 23, 23, 54, 67]

{i:'even' if i%2 == 0 else 'odd' for i in a}

{23: 'odd', 42: 'even', 36: 'even', 78: 'even', 54: 'even', 67: 'odd'}

Finding the Unicode of Data using "ord(i)" :

In [39]:
l = ['A','@','ðŸ˜‚']

{i:ord(i) for i in l}

{'A': 65, '@': 64, 'ðŸ˜‚': 128514}